
element.style {
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    color: #212432;
    font-family: Maison Neue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

h6{
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 400;
  margin: 0 0 .5em;
  text-rendering: optimizelegibility;
  color: #91eeda;
}

h1, h2, h3, h4, h5 {
    font-size: 1.6rem;
    line-height: 1.2em;
    font-weight: 400;
    margin: 0 0 .5em;
    text-rendering: optimizelegibility;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}

p, p.-maintain-size {
    font-size: 1.6rem;
    line-height: 3.2rem;
    padding: 0 0 3.2rem;
}

p {
    color: #4e5262;
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

ol li, ul li {
    line-height: 3.2rem;
    margin: 0 0 1rem;
}

ol, ul {
    margin: 0 0 2rem;
    color: #212432;
    font-size: 1.6rem;
    padding: 0 0 0 2.2rem;
    list-style: disc;
}

em, i {
    font-style: italic;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}

user agent stylesheet
div {
    display: block;
}

user agent stylesheet
section, user agent stylesheet
div {
    display: block;
}

user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

user agent stylesheet
ul {
    list-style-type: disc;
}

user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.masthead.image-masthead {
    background-color: #222533;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 550px;
    color: #fff;
}

.info-panel.text .heading {
    font-weight: 200;
    margin-bottom: 30px;
    line-height: 1.208em;
    letter-spacing: -.02em;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}
.heading.-light {
    font-weight: 400;
}

.heading.-huge {
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: -.5px;
}
.masthead.image-masthead .eyebrow {
    padding-bottom: 15px;
    padding-left: 0;
    color: #4296cb;
    font-weight: 600;
    letter-spacing: .042em;
}
.masthead.image-masthead .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100%;
}

.masthead.image-masthead.about .eyebrow {
    color: #91eeda;
}

.masthead.no-blurb .heading {
    margin: 0;
}

.masthead.image-masthead .masthead-text, .masthead.image-masthead .masthead-text * {
    color: #fff;
}

.heading.-x-small {
    font-size: 1.6rem;
    line-height: 26px;
}

.caps {
    letter-spacing: .1em;
}

.caps, .small-caps {
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    max-width: 1340px;
    padding-left: 70px;
    padding-right: 70px;
}

.info-panel.text p {
    margin: 0;
    color: #4e5262;
}

.info-panel.text {
    text-align: center;
    padding: 145px 0 125px;
}

.info-panel.feature-list, .info-panel.feature-list li, .info-panel.feature-list p, .info-panel.feature-list ul {
    color: #fff;
}

.info-panel.feature-list {
    background: #222533;
}

.info-panel.feature-list ul li {
    margin: 0;
    padding: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 28%;
    -ms-flex: -2 28%;
    flex: 0 28%;
}

.info-panel.feature-list ul {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 40px 0 30px;
}

.info-panel.feature-list ul li.powered i {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

.info-panel.feature-list ul li i {
    display: block;
    margin: 0 auto 25px;
    height: 48px;
}

@media (max-width: 1060px)
.container {
    padding-left: 56px;
    padding-right: 56px;
}
