
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: white;
   text-align: center;
   font-weight: 400;
   line-height: 1.2em;
   font-family: Maison Neue,Helvetica Neue,Helvetica,Arial,Lucida Grande,
   sans-serif;
}

.demi{
   text-decoration:none;
   color:white;
}

.demi:hover{
   color: #a7aabb;
}

aside{
   float:left;
}

p{
   color: #a7aabb;
}

span{
   padding-bottom: 10px;
   display: inline-flex;
   -webkit-box-pack: justify;
   justify-content: space-between;
   -webkit-box-flex: 0;
   flex-basis: 50%;
   padding-right: 5%;
    }

.ftline{
   padding-right: 25%;
   float:right;
 }
